.navi-root {
  background-color: rgb(249, 249, 249);
  padding: 10px;
}
.logged-out-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navi-container {
  display: flex !important;
  justify-content: right !important;
  align-items: center !important;
}
.navi-container-logged-in {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.navi-container-logged-in > li > .MuiFormControl-root {
  background-color: white;
}
.linksContainer {
  width: auto !important;
}
.linksContainer-logged-in {
  width: auto !important;
  display: flex;
  gap: 20px;
}
.links {
  text-decoration: none !important;
  color: black;
}
.navi-icon {
  color: black;
}
.logo {
  text-decoration: none;
  color: rgb(61, 0, 173);
}
.logo > h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: rgb(61, 0, 173);
}
.search-icon {
  font-size: 30px !important;
  cursor: pointer;
}

.linksContainer-logged-in-mobile {
  display: none !important;
}

.linksContainer-logged-in-logo {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .linksContainer-logged-in {
    display: none !important;
  }
  .linksContainer-logged-in-logo {
    display: block !important;
  }
  .linksContainer-logged-in-mobile {
    display: flex !important;
    align-items: center;
    gap: 15px;
  }
  .linksContainer-logged-in-mobile-searchbar {
    background-color: white;
  }
  .navi-container-logged-in {
    display: block !important;
  }
}
