.comment-modal-root {
    width: 90%;
    margin: 0 auto;
}

.comment-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: white;
    border: 2px solid gray;
    box-shadow: 24;
    padding: 4%;
    border-radius: 8px;
    margin: 0 auto;
    max-height: 600px !important;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.comment-card {
    padding: 30px;
    margin: 10px 10px 30px 10px
}

.comment-data {
    text-align: center;
}

.comment-card-info {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding: 10px;
    font-family: "Quicksand", sans-serif !important;
}

.comment-heart {
    cursor: pointer;
    color: red !important;
    width: 14px !important;
}

.close-comment-modal-btn {
    position: sticky;
    bottom: -12px;
    background-color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 450px) {
    .comment-card-info {
        text-align: center !important;
        
    }
}
