.signup-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Quicksand", sans-serif;
}
.sigupButtonContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  margin-top: 25px;
  margin-bottom: 20px;
}
.signupPropeties {
  margin-bottom: 20px !important;
  width: 80% !important;
  max-width: 300px !important;
  text-align: center;
}
.signup-agreement {
  font-size: 10px;
  margin-bottom: 20px;
}
